.white {
	color: #26C281;
}
.white:hover {
	border-bottom: 1px solid #26C281;
	color: #26C281;
	transition: 0.3s;
}


body {
	padding-top: 65px;
}

@media (min-width: 992px) {
	body {
		padding-top: 65px;
	}
}

#navBarSearchForm input[type=text]{
	width:520px !important;
}

.text-truncate{
	overflow: hidden;
	white-space: nowrap;
}

.navtk{
	background-color: #fff;
	border-bottom:1px solid #26C281;
}

.foot{
	background-color: #26C281;
	color: #fff;
}

.btn-log{
	background-color: #fff;
	border-color: #26C281;
	color: #26C281;
	border-radius: 0px;
}
.btn-log:hover{
	background-color: #26C281;
	border-color: #26C281;
	color: #fff;
}

.btn-search{
	background-color: #26C281;
	border-color: #26C281;
	color: #fff;
	border-radius: 0px;
}
.flat{
	border-radius: 0px;
}
.text-kembang{
	color: #26C281;
}
.text-kembang:hover{
	transition: 0.3s;
	text-decoration: none;
}
.navbar-toggler {
	border: 1px solid #26C281;
}